<div class="relative z-[100]">
  <button
    class="fixed top-4 right-4 p-3 bg-blue-600 z-50 text-white rounded-full shadow-lg transition-all duration-500 hover:bg-blue-700 hover:scale-105"
    (click)="sideBarOpen = !sideBarOpen"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>
  @if(sideBarOpen){
  <div
    class="fixed inset-0 bg-black/50 z-40 transition-opacity duration-300"
    (click)="sideBarOpen = false"
  ></div>
  }
  <aside
    [class]="sideBarOpen ? 'translate-x-0' : 'translate-x-full'"
    class="fixed inset-y-0 right-0 w-80 bg-slate-800 shadow-2xl z-[100] transform ease-in-out flex flex-col" 
  >
  <button class="p-2 rounded-full hover:bg-gray-100 bg-blue-600 transition-colors duration-300"
    (click)="sideBarOpen= false"
  > 
  <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-gray-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
  </button>

</aside>
</div>
